@font-face {
    font-family: 'Neuropol';
    src: url('Neuropol-Regular.woff2') format('woff2'),
        url('Neuropol-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

