/* This is Special Code to Work in Real-Time Environment.
Use at your own Risk!

Created by Prasad Madhuranga @ 2023 DEC
Created for New Websites.
*Tested */

/* Version 2 - Revision 1 : Previous Font types removed & New Font types added as WOFF/WOFF2 .
Now Web index should be faster than previous version. */

/* ~~~ Link to HTML ~~~ */
.indexspan1 {
  font-family: UN-Arundathee;
}

.headersi1 {
  font-family: UN-Arundathee;
}

.headersi2 {
  font-family: UN-Gurulugomi;
}

.navbarlistsi {
  font-family: UN-Bindumathi;
}

.navbarlisten {
  font-family: Product Sans;
}
.navbarlist01{
  display: inline;
}
.navbarlist01:hover{
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.35);
  transition-duration: 0.5s;
  border-radius: 1px;

}

.indexbtnsi {
  font-family: 'Noto Serif Sinhala';
}

.indexbtnen {
  font-family: 'Dimitri Swank';
}

.emstl1{
  font-family: 'Quicksand';
}

@font-face {
  font-family: 'Dimitri Swank';
  src: url('/assets/fonts/DimitriSwank/DimitriSwank.woff2') format('woff2'),
      url('/assets/fonts/DimitriSwank/DimitriSwank.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nasalization Rg';
  src: url('/assets/fonts/NasalizationRg/NasalizationRg-Regular.woff2') format('woff2'),
      url('/assets/fonts/NasalizationRg/NasalizationRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuropol';
  src: url('/assets/fonts/Neuropol/Neuropol-Regular.woff2') format('woff2'),
      url('/assets/fonts/Neuropol/Neuropol-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif Sinhala';
  src: url('/assets/fonts/NotoSerifSinhala/NotoSerifSinhala-Regular.woff2') format('woff2'),
      url('/assets/fonts/NotoSerifSinhala/NotoSerifSinhala-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand/Quicksand-Light.woff2') format('woff2'),
      url('/assets/fonts/Quicksand/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

